.pokemon-details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 65%;
    .navbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .pokemon-details {
        img {
            width: 300px;
            object-fit: contain;
        }
        div {
            font-size: 18px;
        }
    }
}